input[type=text]{
    border: none;
    border-bottom: 2px solid #CCCCCC ;
    background: none;
    padding: 5px;
    margin: 30px;
    width: 80%;
    font-size: 17px;
    color: #CCCCCC;
}
input[type=password]{
    border: none;
    border-bottom: 2px solid #CCCCCC ;
    background: none;
    padding: 5px;
    margin: 30px;
    width: 80%;
    font-size: 17px;
    color: #CCCCCC;
}

input[type=text]::placeholder{
    color: #CCCCCC;
}

input[type=password]::placeholder{
    color: #CCCCCC;
}


input[type=text]:focus{
    outline: none;
    border-bottom: 2px solid lightblue;
}